[submodule "LAB-A"]
	path = LAB_A
	url = https://github.com/Olivverde/LabA-AFN.git
[submodule "LAB_B"]
	path = LAB_B
	url = https://github.com/Olivverde/LabB-AFD.git
[submodule "AUTOMATA"]
	path = AUTOMATA
	url = https://github.com/Olivverde/AUTOMATA.git
